<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="/imports/head"/>

<body>

<th:block th:include="imports/navBar"/>

<!--<div id="app"></div>-->
<!--<script>-->
<!--    var wizards = ['Hermione', 'Neville', 'Gandalf', 'Radagast'];-->

<!--    // Create an unordered list-->
<!--    var list = document.createElement('ul');-->

<!--    // Create a list item for each wizard-->
<!--    // and append it to the list-->
<!--    wizards.forEach(function (wizard) {-->
<!--        var li = document.createElement('li');-->
<!--        li.textContent = wizard;-->
<!--        list.appendChild(li);-->
<!--    });-->

<!--    // Log-->
<!--    console.log(list);-->

<!--    // Inject into the DOM-->
<!--    var app = document.querySelector('#app');-->
<!--    app.appendChild(list);-->
<!--</script>-->
<div class="container">

    <div class="col-sm-4">

        <form action="/add" method="POST" enctype="utf8" name="updateForm">
            <div class="col">

                <label>Url</label>
                <input type="text" tvalue="${model.url}" name="Full URL Path to web page"/>
            </div>
            <!--        <div>-->
            <!--            <label >email</label>-->
            <!--            <input  th:field="*{email}" type="email" class="form-control" required="true"/>-->
            <!--        </div>-->
            <br/>
            <button type="submit" class="btn btn-lg btn-primary btn-block">submit</button>
        </form>
    </div>
</div>
</body>


</html>