<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="refresh" content="3"/>-->
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div>
    <br/>
    <form action="/add"  method="POST" enctype="utf8"  name="updateForm" >
        <div>

            <label>Url</label><br/>
            <input type="text" tvalue="${model.url}" name = "url" />
        </div>
<!--        <div>-->

<!--            <label >email</label>-->
<!--            <input  th:field="*{email}" type="email" class="form-control" required="true"/>-->
<!--        </div>-->
        <br/>
        <button  type="submit" class="btn btn-lg btn-primary btn-block">submit</button>
    </form>
</div>
<!---->

</body>
</html>