<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="fragments/head"/>
<body>
<th:block th:include="fragments/time"/>
<th:block th:include="fragments/nav"/>

<div >
<!--    <div  th:utext="${view}"></div>-->



    <div id = "output">
        <style>.card{
            margin: 12px 10px;
        }</style>

            </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var message = /*[[${view}]]*/ 'default';

        let render = document.createElement("div");

        render.className = "row"
        message.forEach(function (messageKey) {
            var doc = document.createElement("div");
            doc.className = "card col-2";

            var heder = document.createElement("div");

            heder.innerHTML = messageKey;
            heder.className = "card-header id-"+ heder.querySelector("div").id;

            var body = document.createElement("div");
            body.className= "card-body";

            var stocName = heder.querySelector(".company__ticker").textContent;
            var p = document.createElement("p");
            p.className = "card-text";
            p.innerHTML = "Some Text";
            var allElements = heder.querySelectorAll(".column--full");

            body.appendChild(p);


            var a = document.createElement("a");
            a.className = "btn btn-primary";
            a.href = `https://finance.yahoo.com/quote/${stocName}/`;
            a.target = "_blank";
            a.text = "View in YahooStock";
            body.appendChild(a);

            var objectInput = document.createElement("div");
            objectInput.className="row";
            var div1 = document.createElement("div");
            div1.className ="col-md-2";
            var div2 = document.createElement("div");

            div2.className ="col-md-2";
            var input = document.createElement("input");

            var buttInput = document.createElement("button");
            buttInput.className="col-md-6";
            // console.log( heder.querySelector("div").id);
            input.className = "refresh-input" ;
            input.name = heder.querySelector("div").id;
            // console.log(input);
            buttInput.className = "refresh-input-button";
            buttInput.name = heder.querySelector("div").id;
            buttInput.textContent = "interval";
            buttInput.name = heder.querySelector("div").id;
            buttInput.setAttribute("onclick","myFunction("+ heder.querySelector("div").id+")");
            div1.appendChild(input);
            div2.appendChild(buttInput);
            objectInput.appendChild(input);
            objectInput.appendChild(buttInput);
            body.appendChild(objectInput);




            doc.appendChild(heder);

            doc.appendChild(body);
            render.appendChild(doc);

        });

        document.querySelector("#output").appendChild(render);

        /*]]>*/

    </script>
<script>
    var temp;

    function myFunction(id){

        console.log(id);
        $.get("http://localhost:8080/one/"+id, function(data, status){
          var hedder = document.querySelector(".id-"+id);
          hedder.innerHTML = data.response + "Ok";

          //.querySelector(".card-"+id)
        // .querySelector("#"+id).innerHTML = data.response;
            // alert("Data: " + data.response + "\nStatus: " + status);
        });
    };
</script>

</body>
</html>