<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3"/>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1>OK</h1>
<a href="/add" class="btn btn-primary">Add</a>
<div class="col-sm-4">
    <div  th:utext="${view}"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var message = /*[[${view}]]*/ 'default';
        console.log(message);


        /*]]>*/

    </script>
    </div>
<h1 id = "output">
<!--    <div class="card">-->
<!--        <div class="card-header">-->
<!--            Featured-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title">Special title treatment</h5>-->
<!--            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--        </div>-->
<!--    </div>-->
</h1>
</body>
</html>