<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="fragments/head"/>
<body>

<th:block th:include="fragments/nav"/>

<audio id="myAudio">
    <source th:src="@{/audio/Marimba-alert.mp3}" type="audio/mp3">

    Your browser does not support the audio element.
</audio>


<div id="output" class="main-card row"></div>
<span></span>

<script th:inline="javascript">
    /*<![CDATA[*/
    // let dbUrl =/*[[${view}]]*/ 'default';
    urls =/*[[${view}]]*/ 'default';
    /*]]>*/

</script>
<script>
    function fatchtest() {
        return fetch("http://localhost:8080/one/1")
            .then(function (data) {
                return data.json()// Here you get the data to modify as you please
            })

            .catch(function (error) {
                alert("error " + error) // If there is any error you will catch them here
            });
    }


</script>
<script>
    readDataFromHost(urls);
    let x = document.getElementById('myAudio')
</script>

<!-- Footer -->
<div class="row">
    <footer class="footer text-right flex-grow-1">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="https://github.com/dbborisov"> Dobromir Borisov</a>
            </div>
            <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>
</div>
</body>
</html>