<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include=" fragments/head"/>

<body onload="getStockSymbols()">
<script>
    let symbols = [];
    let fullData = [];


    function getStockSymbols() {
        const url = window.location.host;
        $.get("http://" + url + "/test/api/jsoup/all/", function (data) {
            console.log(data[0].name);
            for (let i = 0; i < data.length; i++) {
                fullData.push(data[i]);
                renderOnTable(data[i]);
                symbols.push(data[i].name);
            }
            $(document).ready(function () {
                $('#dtBasicExample').DataTable();
                $('.dataTables_length').addClass('bs-select');
            });
        })
    }


    function renderOnTable(data) {

        let tableTR = document.createElement("tr");

        tableTR.innerHTML =
            '<td>' + data.id + '</td>' +
            '<td>' + data.fullName + '</td>' +
            '<td>' + data.name + '</td>' +
            '<td>' + data.lastUpdate + '</td>' +
            '<td>' + data.percentchange + '</td>' +
            '<td>' + data.price + '</td>';

        let body = document.querySelector("tbody");
        body.appendChild(tableTR);

    }

    let namesSplit = [];

    function splitName(data, size = 4) {
        let temp_list = [];
        for (let i = 0; i < data.length; i++) {
            temp_list.push(data[i])
            if (i % size === 0 && i !== 0) {
                namesSplit.push(temp_list);
                temp_list = [];
            }
        }
        namesSplit.push(temp_list);
    }

    function UPDATE_SOTCK_PRICES(names) {
        const url = window.location.host;
        let namesString = names.join();
        $.get("http://" + url + "/test/api/setNewPrices/" + namesString, function (data) {
            console.log(data)
        })
    }
</script>

<div class="container">
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">Internal Id
            </th>
            <th class="th-sm">Company Name
            </th>
            <th class="th-sm">Stock Name
            </th>
            <th class="th-sm">Last Update
            </th>
            <th class="th-sm">Percent Difference
            </th>
            <th class="th-sm">Price
            </th>

        </tr>
        </thead>
        <tbody>
       <script onload="getStockSymbols()"></script>


        </tbody>
        <tfoot>
        <tr>
            <th>Internal Id
            </th>
            <th>Company Name
            </th>
            <th>Stock Name
            </th>
            <th>Last Update
            </th>
            <th>Percent Difference
            </th>
            <th>Price
            </th>
        </tr>
        </tfoot>
    </table>
</div>


<script>
    let globulCounter = 10;                     //  set your counter to 1

    function myLoop() {           //  create a loop function
        setTimeout(function () {    //  call a 3s setTimeout when the loop is called
            console.log(globulCounter);          //  your code here

            if (globulCounter < (namesSplit.length -1)) {            //  if the counter < 10, call the loop function
                UPDATE_SOTCK_PRICES(namesSplit[globulCounter]);
                console.log(namesSplit[globulCounter])
                myLoop();             //  ..  again which will trigger another
            }                        //  ..  setTimeout()
            globulCounter++;                     //  increment the counter
        }, 1000)
    }

</script>


</body>
</html>