<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>TestPage</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!--                add angular application-->
    <script type="text/javascript" src="../js/time.js"   th:src="@{/js/time.js}"></script>
<!--    <script type="text/javascript" src="../js/js/restCall.js"   th:src="@{/js/js/restCall.js}" onload="('api/stock_list')"></script>-->
    <script type="text/javascript" src="../js/js/test.js"   th:src="@{/js/js/test.js}" onload="loadAllStockfromHost()"></script>

</head>
<body>
<div class="col">
    <select class="stock_picker" data-live-search="true">
        <option data-tokens="no_select">Select one of the stocks</option>
    </select>

    <button class="btn btn-primary" onclick="getStockPriceGoogle()">Add stock</button>
</div>

<div id = "loadContent"> </div>

<div id="newSelection"></div>
<script>
    readDataFromHost(urls);

</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    let tDocument =/*[[${view}]]*/ 'default';
    /*]]>*/

    document.getElementById("loadContent").innerHTML = tDocument;
</script>
</body>
</html>